PEOPLEXD_URL=https://api.corehr.com/ws/<your_tenant_id>/corehr/
PRODUCTION_PXD_SECRET=<your_secret>
PRODUCTION_PXD_ID=<your_id>
PXD_NODE_ENV=<PRODUCTION | DEVELOPMENT>
TEST_STAFF_ID=12345 # used in dummy_proj/main.js
